#wrapper{
  /* background-color: red; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper h1{
  font-size: 3rem;
}

#list{
  width: 100%;
}

.tile{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  margin-bottom: 50px;
}

.image{
  width: 100%;
}

.text{
  margin: 0;
}